<% include header.ejs %>

<h2><%= product.title %></h2>
<hr>
<div class="poster-wrapper">
<p><img src="/images/<%= product.picture %>"</p>
</div>
<p><%= product.description %></p>
<ul>
    <% for (var i = 0 ; i < product.price.length ; i++) { %>
        <li><%= product.price[i] %></li>
   <% } %>
</ul>

<% include footer.ejs %>